{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Library System</h1>
    <a href="{% url 'main_menu' %}">Export/Import</a><br>
    <a href="{% url 'register_user' %}">Register New User</a><br>
    <a href="{% url 'borrowed_books' %}">Borrowed Books</a><br>
    <a href="{% url 'user_list' %}">All Users</a><br>
    <a href="{% url 'book_list' %}">All Books</a><br>
    <a href="{% url 'add_book' %}">Add New Book</a><br>
    <a href="{% url 'assign_book' %}">Assign Book</a><br>
    <a href="{% url 'return_book' %}">Return Book</a><br>
    <a href="{% url 'history' %}">History of return/borrow</a><br>
    <a href="{% url 'search_user' %}">Search User</a>
{% endblock %}