{% extends 'base.html' %}

{% block content %}
    <h2>All Users</h2>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Group</th>
            <th>Type</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.name }} {{ user.surname }}</td>
            <td>{{ user.group }}</td>
            <td>
                {% if user.age %}Pupils{% else %}Students{% endif %}
            </td>
            <td>
                <a href="{% url 'edit_user' user.user_id %}">Edit</a> |
                <a href="{% url 'delete_user' user.user_id %}">Delete</a>
            </td>

        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'register_user' %}">Add New User</a> |
    <a href="{% url 'home' %}">Home</a>
{% endblock %}
